.card{
    height: 542px;
    border-radius: 20px;
    background-image: url('');
    position: relative;
    background-repeat: no-repeat;
}
.name-title{
    font-size: 24px;
    margin: 5px 0 4px 0;
}
.card-details{
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:white;
    right: 0;
    height: 170px;
    border-top: 2px solid red;
    clip-path: polygon(10% 3%, 100% 41%, 100% 100%, 0% 100%);
    padding: 20px 47px;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.card-details::before{
    content: '';
    top: 0;
    left: 0;
    background-color: red;
    position: absolute;
    height: 10px;
    width: 100%;
    border-top-left-radius: 10px;
    transition:all .5s ease-in-out;
    border-radius: 2px solid red;
}

.btn{
    position: absolute;
    background-color: rgba(218, 35, 72, 1);
    font-size: 18px;
    color: white;
    border-radius: 15px;
    padding: 15px 32px;
    border: 0;
    cursor: pointer;
    display: block;
    width: 80%;
    bottom: -100px;
    transition: all .4s ease-in-out;
}
.card:hover .btn{
    bottom: 0;
    left: 10;
    right: 10;
}

.card:hover .card-details{
    height: 200px;
}